name: Deploy to EC2 via SSH

on:
  workflow_run:
    workflows: ["CI/CD Preproduction"]
    types:
      - completed

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
    - name: Connect and deploy
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        script: |
          echo "Connected to server"

          docker stop flask-tienda || true
          docker rm flask-tienda || true

          docker pull ${{ secrets.DOCKER_HUB_USERNAME }}/ci-cd-python:${{ github.event.workflow_run.head_sha }}

          docker run -d -p 80:8000 --name flask-tienda ${{ secrets.DOCKER_HUB_USERNAME }}/ci-cd-python:${{ github.event.workflow_run.head_sha }}

          docker image prune -af
